@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Chilanka&display=swap');

/* Default font setting */
body {
    font-family: "Chilanka", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Heading font setting */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Footer font setting */
.text-mute {
    color: rgb(207 204 204);
    padding-top: 50px;
}

.text-mute a {
    color: rgb(207 204 204);
}

/* Shepherd guide setting */
.shepherd-element {
    background: #d6d6d6;
}

.shepherd-arrow:before {
    background: #d6d6d6;
}

/* General container styling */
.container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Labels and form controls alignment */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-label {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.form-control, .form-check-input, .input-group-text {
    width: auto;
}

/* Customizing the input groups */
.input-group {
    flex: 2;
}

.input-group-text {
    background-color: #e9ecef;
}

/* Styling checkboxes */
.form-check {
    flex-direction: row;
    align-items: center;
}

.form-check-label {
    margin-left: 5px;
}

/* Button-like appearance for checkboxes */
.form-check-input {
    appearance: none; /* Removes the default system appearance */
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}

.form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
    background-image: none !important;
}

.form-check-input:checked::after {
    content: '\2714';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the checkmark */
    color: #fff;
    font-size: 14px; /* Adjust the size of the checkmark */
}

/* Enhancing the visual feedback for selection */
.form-select {
    cursor: pointer;
}

/* Style adjustments for the leftover budget display */
#leftoverBudget {
    background-color: #e9ecef;
    color: #495057;
}
